$main-accent-color: #3f8da8;
$secondary-accent-color: #92e0e5;

$background-color: white;

$font-color: black;
$font-color-alt: white;

$default-font-size: 1.1rem;
$large-font-size: 1.25rem;

$dog-card-width: 350px;
